:root{
    --maincolor: blue;
    --secondarycolor: darkgrey;
    --thirdcolor: salmon;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
*/
/*.column {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:2;
    width: 50%;
}*/
/* this is the styling for the nav bav and header */
.navbar{
    background: var(--maincolor);
    width:100%;
    padding: 15px 0;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .portfolio a{
    font-size: 40px;
    font-weight: 500;
    color: var(--thirdcolor);
}
.navbar .options li{
    list-style: none;
    display: inline-block;
}


.navbar .options li a{
    color:var(--secondarycolor);
    font-size:18px;
    margin-left: 25px;

}


.container{
    display:flex;
    border-radius: 40px;
    transition: all 0.5s ease-in-out;
    margin:20px;
    border: 5px solid var(--thirdcolor);
    padding: 20px;

}
/*#aboutme {
    width: 50%;
    padding: 20px;
    border: 5px solid var(--thirdcolor); 
    
   
}*/
    /*this will make the glow happen*/
.container:hover{
    box-shadow: inset 0px 0px 8px var(--thirdcolor), 0 0 15px var(--thirdcolor);
}
#comingsoon{
    width: 50%;
    padding: 20px;
    border: 5px solid var(--thirdcolor);
    border-radius: 40px;
  
}
h3 {
    font-style: bold;
}
