:root{
    --maincolor: blue;
    --secondarycolor: cornflowerblue;
}


header {
    border-top: var(--maincolor);
padding-bottom: 15px;
background:var(--maincolor);
color: var(--secondarycolor);
}

h1{
color:darkgrey;
}
h4{
    color:var(--maincolor)
}
footer{
    display: flex;
    background-color: cornflowerblue;
    padding: 10px;
}